// Skip to content related CSS
.show-on-focus {
    display: inline-block;
    position: absolute !important;
    left: 0;
    top: 0;
}
.show-on-focus:not(:focus) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
}
.show-on-focus:focus {
    background-color: #FFFFFF;
    padding: 1rem;
    z-index: 999;
}

// Fields description position between title and input.
form .form-text {
  margin-top: -0.4em;
  margin-bottom: 0.30em;
}

// Privacy related CSS
#cookies-form label span.required,
#cookies-form .form-text p,
#cookies-form #form-widgets-all_basic_cookies {
    display: none;
}

#gdpr-consent-banner {
    z-index: 999999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    background: orange;
    display:none;
}

// Fix eea.facetednavigation : Hide items with 0 results
.faceted-select-widget.faceted-zero-count-hidden .faceted-select-item-disabled {
  display: none;
}
